.nav-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-weight: 200;

    }

    .hamburger-container{
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;

        .hamburger{
            width: 50px;
            height: 50px;
            background-color: black;
            color: white;
            margin: 20px;
            padding: 7px;
            border-radius: 100px;
        }
    }
}

@media screen and (max-width: 650px) {
    .nav-container{
        h1{
            font-size: 1rem;
        }
    
        .hamburger-container{

            .hamburger{
                width: 40px;
                height: 40px;
            }
        }
    }
}
